@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Fraunces:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,370;1,400;1,600&display=swap');

:root {
    --boxsh : rgba(0, 1, 20, 0.616);
    --accent: goldenrod;
    --bright: rgb(241, 179, 21);
    --body: Fraunces, serif;
    --display: 'Berkshire Swash', serif;
}

*, [class] { 
    margin:0 ; padding: 0;
    transition: margin .18s ease, opacity .18s ease
}

/* debug */
/* * { background: rgba(255, 255, 0, 0.027)} */

html {
    /* background-color: rgb(73, 73, 73); */
    color: #ddd;
    background-color: rgb(110, 120, 150);
    /* background-image: url(https://images-assets.nasa.gov/image/PIA15416/PIA15416~orig.jpg) no-repeat center center fixed; */
    background-image: url(img/andromeda.jpg) no-repeat center center fixed;
    /* background-size: cover; */
}

body {
    font-family: 'Fraunces', serif;
    font-weight: 300;
    transition: color .12s ease;

}

h1, h2, h3, h4, h5 {
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: .02em;
    text-shadow: .03rem .05rem .05rem rgba(0, 0, 0, 0.144);
    color: var(--accent);
}

img[width] {
    display: block;
    /* margin: 0 auto; */
    border: .2rem dashed var(--accent);
    border-radius: 55%;
    /* position: relative; */
    background-color: rgba(0, 0, 0, 0.144);
    max-width: 100%;
}

nav {
    position: fixed;
    left: 0;right: 0;top: 0;
    background-color: rosybrown;
    padding: .5rem 1rem;
    box-shadow: 0 -.3rem .7rem var(--boxsh);
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: space-between;
    /* background-color: #222; */
    margin: 0 auto;
}

main { 
    margin: 2rem auto;
    padding: 1rem;
    padding-top: 2rem;
    /* background-color: #222; */
    background-color: rgb(73, 73, 73);
    box-shadow: 0 0 .3rem var(--boxsh);

}

main, nav ul {
    max-width: 47em; 
}

nav li { 
    display: inline-block; 
    font-size: larger;
    padding: 0 .2rem;
}

a { 
    color: rgb(0, 78, 97);
    font-weight: 500;
    text-decoration: none;
    text-shadow: .03rem .04rem .04rem rgba(21, 23, 26, 0.315); 
}

a:hover, a:active, a:focus {
    color: rgb(11, 110, 134);
}

p {
    margin-left: .25rem;
}

.override {
    font-size: 2em;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex.projects {
    justify-content: space-around;
    align-items: baseline;
}

h1::after {
    content: " ꩜";
}

ul li {
    list-style-type: none;
    padding-left: 1rem;
}

ul li::before {
    color: var(--accent);
    content: "꩜";
    padding: 0; margin: 0;
    line-height: 0;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
    padding-right: .25rem;
    position: relative;
    opacity: .9;
    font-weight: 300;
    font-size: smaller;
}

nav ul li::before {
    position: fixed;
    text-align: center;
    padding:0; margin: 0;
    transform: translate(1.25em, 2em);
    transition: color .18s ease, text-shadow .23s ease
}

ul li:hover::before, h1:hover::after {
    opacity: 1;
    color: var(--bright);
    text-shadow: 0 0 .3em rgba(255, 200, 82, 0.452);
}

.properties ul {
    margin-left: 2rem;
}

.fright { float: right; }

section {
    margin-bottom: .5rem;
}

section h2 {
    padding: 0 0 .25rem;
}

p {
    padding-bottom: .66rem;
}

@media only screen and (max-width: 765px) {
    img[width] {
        margin: 1rem 0;
    }
}



figure {
    /* border: thin #c0c0c0c0 solid; */
    display: flex;
    flex-flow: column;
    /* padding: 5px; */
    width: 20rem;
    /* height: 12.361rem; */
    /* margin: auto; */
    margin: 1.5rem .75rem;
}

figure, figure img {
    border-radius: .66rem;
}

figure img {
    background-color: rosybrown;
    height: 100%;
    width: 100%;
    background-image: url('img/andromeda.jpg');
    opacity: .9;
    box-shadow: .03rem .05rem .5rem var(--boxsh);
    margin: 0 .5rem;
}

figure:hover img {
    opacity: 1;
}

figcaption {
    color: var(--accent);
    font: normal smaller var(--body);
    font-weight: 400;
    padding-top: 1rem;
    line-height: 1.2em;
    text-align: center;
}

div[id] {
    height: 0;
    position: relative;
    top: -3rem;
}



/* img::before {
    content: "w ";
    position: absolute;
    z-index: -1;
    border: .3rem solid brown;
    background: cornflowerblue;
    top: -.3rem; left: -.3rem; right: -.3rem; bottom: -.3rem;
    border-radius: 55%;
} */