@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Fraunces:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,370;1,400;1,600&display=swap');


*, [class] { margin:0 ; padding: 0 }

html {
    background-color: rosybrown;
    color: whitesmoke;
}

body {
    font-family: 'Fraunces', serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-family: font-family: 'Berkshire Swash', cursive;
}

img {
    display: block;
    margin: 0 auto;
    border: .2rem dashed goldenrod;
    border-radius: 55%;
    position: relative;
    background-color: rgba(245, 245, 245, 0.144);
}

nav {
    position: fixed;
}

a { 
    color: rgb(0, 78, 97);
    font-weight: 500;
}

/* img::before {
    content: "w ";
    position: absolute;
    z-index: -1;
    border: .3rem solid brown;
    background: cornflowerblue;
    top: -.3rem; left: -.3rem; right: -.3rem; bottom: -.3rem;
    border-radius: 55%;
} */